body {
    margin: 0;
    background-color: black;
    align-items: center;
}

html, body {
	max-height: 100%;
    color: white;
    align-items: center;
    text-align: center;
}

#navbar {
    background-color: aqua;
    border-bottom: solid 3px white;
    text-align: left;
}

#titleText {
    margin-top: 0;
    padding: 15px;
    padding-bottom: 0px;
    color: black;
    font-size: 40px;
}

#books {
    display: flex;
    flex-direction: row;
}

.bookDiv {
    margin: 5%;
    border: solid 2px white;
}

.bookTitle {
    padding: 5px;
}

#addForm {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
}

#addForm {
    display: none;
}

#addForm input {
    font-size: 15px;
    padding: 3px;
    margin-bottom: 2%;
}

#newBookBtn {
    font-size: 20px;
    padding: 5px;
    transition: 1s;
}

#newBookBtn:hover {
    background-color: gray;
    transition: 0.5s;
    cursor: pointer;
}